---
:project: pulp
:github_org: pulp
:nightly: true
:repos:
  :pulp:
    :main: true
    :branch: 2.18-release
    :repo: https://github.com/pulp/pulp
    :version_branch: true
  :pulp-rpm:
    :branch: 2.18-release
    :repo: https://github.com/pulp/pulp_rpm
    :version_branch: true
  :pulp-puppet:
    :branch: 2.18-release
    :repo: https://github.com/pulp/pulp_puppet
    :version_branch: true
  :pulp-docker:
    :branch: 3.2.2
    :repo: https://github.com/pulp/pulp_docker
  :pulp-ostree:
    :branch: 1.3.1
    :repo: https://github.com/pulp/pulp_ostree
  :pulp-python:
    :branch: 2.0.3
    :repo: https://github.com/pulp/pulp_python
  :pulp-deb:
    :branch: 1.8.0b2
    :repo: https://github.com/pulp/pulp_deb
    :version_branch: true
  :pulp-packaging:
    :branch: 2.18
    :repo: https://github.com/pulp/pulp-packaging
  :python-crane:
    :branch: 3.3.0
    :repo: https://github.com/pulp/crane
:tags:
  - name: pulp-2.18-rhel7
    based_off: pulp-nightly-rhel7
    build_target: pulp-2.18-rhel7-build
    build_package_group_source_tag: pulp-2.18-rhel7-build
    arches:
      - x86_64
    inherits:
      pulp-2.18-rhel7-build:
        pulp-2.18-rhel7: 0
      pulp-2.18-rhel7: {}
    external_repos:
      - centos-7-server-updates
      - centos-7-server
      - epel7
    build_groups:
      build:
        - bash
        - bzip2
        - coreutils
        - cpio
        - diffutils
        - epel-release
        - epel-rpm-macros
        - findutils
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - redhat-release
        - redhat-release-everything
        - redhat-release-server
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - util-linux-ng
        - which
        - xz
      srpm-build:
        - bash
        - epel-release
        - epel-rpm-macros
        - fedpkg-minimal
        - git
        - gnupg
        - make
        - redhat-release
        - redhat-release-everything
        - redhat-release-server
        - redhat-rpm-config
        - rpm-build
        - shadow-utils
  - name: pulp-2.18-rhel6
    based_off: pulp-nightly-rhel6
    build_target: pulp-2.18-rhel6-build
    build_package_group_source_tag: pulp-2.18-rhel6-build
    arches:
      - x86_64
    inherits:
      pulp-2.18-rhel6-build:
        pulp-2.18-rhel6: 0
      pulp-2.18-rhel6: {}
    external_repos:
      - epel-6
      - qpid-copr
      - rhel-6.6-server
      - rhel-6.6-server-optional
    build_groups:
      build:
        - bash
        - bzip2
        - coreutils
        - cpio
        - diffutils
        - fedora-release
        - findutils
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - python-sphinx10
        - redhat-release-server
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - which
        - xz
      srpm-build:
        - bash
        - curl
        - cvs
        - fedora-release
        - fedpkg
        - gnupg2
        - make
        - redhat-release-server
        - redhat-rpm-config
        - rpm-build
        - sh
        - shadow-utils
  - name: pulp-2.18-rhel5
    based_off: pulp-nightly-rhel5
    build_target: pulp-2.18-rhel5-build
    build_package_group_source_tag: pulp-2.18-rhel5-build
    arches:
      - x86_64
    inherits:
      pulp-2.18-rhel5-build:
        pulp-2.18-rhel5: 0
      pulp-2.18-rhel5: {}
    external_repos:
      - rhel-5.9-server
      - epel-5
    build_groups:
      build:
        - bash
        - bzip2
        - buildsys-macros
        - coreutils
        - cpio
        - diffutils
        - fedora-release
        - findutils
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - redhat-rpm-config
        - rpm-build
        - sed
        - selinux-policy-devel
        - shadow-utils
        - tar
        - unzip
        - unziputil-linux-ng
        - util-linux
        - which
        - xz
      srpm-build:
        - bash
        - buildsys-macros
        - curl
        - cvs
        - fedora-release
        - fedpkg
        - gnupg
        - gnupg2
        - make
        - redhat-release
        - redhat-rpm-config
        - rpm-build
        - sh
        - shadow-utils
  - name: pulp-2.18-fedora28
    based_off: pulp-nightly-fedora28
    build_target: pulp-2.18-fedora28-build
    build_package_group_source_tag: pulp-2.18-fedora28-build
    arches:
      - x86_64
    inherits:
      pulp-2.18-fedora28-build:
        pulp-2.18-fedora28: 0
      pulp-2.18-fedora28: {}
    external_repos:
      - fedora-28
      - fedora-28-updates
    build_groups:
      build:
        - bash
        - bzip2
        - coreutils
        - cpio
        - diffutils
        - fedora-release
        - findutils
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - which
        - xz
      srpm-build:
        - curl
        - cvs
        - fedora-release
        - fedpkg
        - gnupg2
        - make
        - redhat-rpm-config
        - rpm-build
        - sh
        - shadow-utils
  - name: pulp-2.18-fedora27
    based_off: pulp-nightly-fedora27
    build_target: pulp-2.18-fedora27-build
    build_package_group_source_tag: pulp-2.18-fedora27-build
    arches:
      - x86_64
    inherits:
      pulp-2.18-fedora27-build:
        pulp-2.18-fedora27: 0
      pulp-2.18-fedora27: {}
    external_repos:
      - fedora-27
      - fedora-27-updates
    build_groups:
      build:
        - bash
        - bzip2
        - coreutils
        - cpio
        - diffutils
        - fedora-release
        - findutils
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - which
        - xz
      srpm-build:
        - curl
        - cvs
        - fedora-release
        - fedpkg
        - gnupg2
        - make
        - redhat-rpm-config
        - rpm-build
        - sh
        - shadow-utils

