---
:project: pulp
:github_org: pulp
:nightly: true
:gpg_key: 2C7E5D9A
:strict_keys: false
:tags:
  - name: pulp-nightly-rhel7
    build_target: pulp-nightly-rhel7-build
    build_package_group_source_tag: pulp-nightly-rhel7-build
    arches:
      - x86_64
    inherits:
      pulp-nightly-rhel7-build:
        pulp-nightly-rhel7: 0
      pulp-nightly-rhel7: {}
    external_repos:
      - centos-7-server-updates
      - centos-7-server
      - epel7
    build_groups:
      build:
        - bash
        - bzip2
        - coreutils
        - cpio
        - diffutils
        - epel-release
        - epel-rpm-macros
        - findutils
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - redhat-release
        - redhat-release-everything
        - redhat-release-server
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - util-linux-ng
        - which
        - xz
      srpm-build:
        - bash
        - epel-release
        - epel-rpm-macros
        - fedpkg-minimal
        - git
        - gnupg
        - make
        - redhat-release
        - redhat-release-everything
        - redhat-release-server
        - redhat-rpm-config
        - rpm-build
        - shadow-utils
  - name: pulp-nightly-rhel6
    build_target: pulp-nightly-rhel6-build
    build_package_group_source_tag: pulp-nightly-rhel6-build
    arches:
      - x86_64
    inherits:
      pulp-nightly-rhel6-build:
        pulp-nightly-rhel6: 0
      pulp-nightly-rhel6: {}
    external_repos:
      - epel-6
      - qpid-copr
      - rhel-6.6-server
      - rhel-6.6-server-optional
  - name: pulp-nightly-rhel5
    build_target: pulp-nightly-rhel5-build
    build_package_group_source_tag: pulp-nightly-rhel5-build
    arches:
      - x86_64
    inherits:
      pulp-nightly-rhel5-build:
        pulp-nightly-rhel5: 0
      pulp-nightly-rhel5: {}
    external_repos:
      - rhel-5.9-server
      - epel-5
  - name: pulp-nightly-fedora28
    build_target: pulp-nightly-fedora28-build
    build_package_group_source_tag: pulp-nightly-fedora28-build
    arches:
      - x86_64
    inherits:
      pulp-nightly-fedora28-build:
        pulp-nightly-fedora28: 0
      pulp-nightly-fedora28: {}
    external_repos:
      - fedora-28
      - fedora-28-updates
  - name: pulp-nightly-fedora27
    build_target: pulp-nightly-fedora27-build
    build_package_group_source_tag: pulp-nightly-fedora27-build
    arches:
      - x86_64
    inherits:
      pulp-nightly-fedora27-build:
        pulp-nightly-fedora27: 0
      pulp-nightly-fedora27: {}
    external_repos:
      - fedora-27
      - fedora-27-updates
