---
:project: katello
:github_org: katello
:prior_releases:
  :3.11.2:
    :redmine_version_id: 1038
  :3.11.1:
    :redmine_version_id: 992
:releases:
  :3.12.3:
    :redmine_version_id: 1082
  :3.12.2:
    :redmine_version_id: 1053
  :3.12.1:
    :redmine_version_id: 1031
  :3.12.0:
    :redmine_version_id: 993
:code_name: Iron Stout
:repos:
  :katello:
    :main: true
    :branch: KATELLO-3.12
    :repo: https://github.com/Katello/katello.git
    :version_branch: true
  :foreman-packaging:
    :branch: rpm/1.22
    :repo: https://github.com/theforeman/foreman-packaging.git
  :hammer-cli-katello:
    :branch: 0.18.0
    :repo: https://github.com/Katello/hammer-cli-katello.git
  :puppet-certs:
    :branch: 6.0.0
    :repo: https://github.com/theforeman/puppet-certs
  :katello-host-tools:
    :branch: 3.5.0
    :repo: https://github.com/Katello/katello-host-tools.git
:ignores:
  - 25841 # Already brought into 3.12 docs
  - 26227 # Duplicate Redmine issue
  - 25114 # Already merged in
  - 25115 # Closed out to have more discussion
  - 25289 # Has already been merged/released in a prior release
:strict_keys: true
:gpg_key: 'D4BFEBD8'
:mash_scripts:
 - katello-3.12-thirdparty-candlepin-rhel7
 - katello-3.12-rhel7
:tags:
  - name: katello-3.12-thirdparty-candlepin-rhel7
    based_off: katello-thirdparty-candlepin-rhel7
    arches:
      - x86_64
  - name: katello-3.12-rhel7
    based_off: katello-nightly-rhel7
    helper_tags:
      katello-3.12-thirdparty-rhel7: katello-thirdparty-rhel7
      katello-3.12-rhel7-override: null
    build_target: katello-3.12-rhel7-build
    build_package_group_source_tag: katello-nightly-rhel7-build
    arches:
      - x86_64
    inherits:
      katello-3.12-rhel7-build:
        katello-3.12-rhel7-override: 0
        foreman-rails-1.22-rhel7: 2
        foreman-plugins-1.22-rhel7-override: 3
        foreman-1.22-rhel7: 10
      katello-3.12-rhel7-override:
        katello-3.12-rhel7: 0
      katello-3.12-rhel7:
        katello-3.12-thirdparty-rhel7: 0
        foreman-1.22-nonscl-rhel7: 1
    external_repos:
      - epel-7
      - centos-sclo-rh-rhel-7
      - centos7-updates
      - centos-7-server
