---
:project: katello
:github_org: katello
:prior_releases:
  :3.13.4:
    :redmine_version_id: 1187
  :3.13.3:
    :redmine_version_id: 1147
  :3.13.2:
    :redmine_version_id: 1130
:releases:
  :3.14.1:
    :redmine_version_id: 1174
  :3.14.0:
    :redmine_version_id: 1048
:code_name: Pecan Pie
:repos:
  :katello:
    :main: true
    :branch: KATELLO-3.14
    :repo: https://github.com/Katello/katello.git
    :version_branch: true
  :foreman-packaging:
    :branch: rpm/1.24
    :repo: https://github.com/theforeman/foreman-packaging.git
  :hammer-cli-katello:
    :branch: 0.20.1
    :repo: https://github.com/Katello/hammer-cli-katello.git
  :katello-host-tools:
    :branch: 3.5.2
    :repo: https://github.com/Katello/katello-host-tools.git
:ignores:
  - 26992 # resolved dup
  - 26993 # resolved dup
  - 26996 # resolved dup
  - 26997 # resolved dup
  - 26998 # resolved dup
  - 27579 # resolved dup
  - 27542 # resolved dup
  - 28101 # empty pick, already fixed in 3.14 (this is 3.13 targetted)
  - 27796 # duplicate
:strict_keys: true
:gpg_key: 5AA9BCAD
:mash_scripts:
 - katello-3.14-thirdparty-candlepin-rhel7
 - katello-3.14-rhel7
:tags:
  - name: katello-3.14-thirdparty-candlepin-rhel7
    based_off: katello-thirdparty-candlepin-rhel7
    arches:
      - x86_64
  - name: katello-3.14-rhel7
    based_off: katello-nightly-rhel7
    helper_tags:
      katello-3.14-thirdparty-rhel7: katello-thirdparty-rhel7
      katello-3.14-rhel7-override: null
    build_target: katello-3.14-rhel7-build
    build_package_group_source_tag: katello-nightly-rhel7-build
    arches:
      - x86_64
    inherits:
      katello-3.14-rhel7-build:
        katello-3.14-rhel7-override: 0
        foreman-rails-1.24-rhel7: 2
        foreman-plugins-1.24-rhel7-override: 3
        foreman-1.24-rhel7: 10
      katello-3.14-rhel7-override:
        katello-3.14-rhel7: 0
      katello-3.14-rhel7:
        katello-3.14-thirdparty-rhel7: 0
        foreman-1.24-nonscl-rhel7: 1
    external_repos:
      - epel7
      - centos-sclo-rh-rhel-7
      - centos-7-server-updates
      - centos-7-server
