---
:project: katello
:github_org: katello
:releases:
  :3.17.2:
    :redmine_version_id: 1342
  :3.17.1:
    :redmine_version_id: 1337
  :3.17.0:
    :redmine_version_id: 1282
:prior_releases:
  :3.16.2:
    :redmine_version_id: 1308
  :3.16.1.2:
    :redmine_version_id: 1313
  :3.16.1.1:
    :redmine_version_id: 1312
  :3.16.1:
    :redmine_version_id: 1226
  :3.16.0:
    :redmine_version_id: 1184
:code_name:
:mash_scripts:
  - katello-3.17-rhel7
  - katello-pulpcore-3.17-el7
  - katello-3.17-thirdparty-candlepin-rhel7
:repos:
  :katello:
    :main: true
    :branch: KATELLO-3.17
    :repo: https://github.com/Katello/katello.git
    :version_branch: true
  :foreman-packaging:
    :branch: rpm/2.2
    :repo: https://github.com/theforeman/foreman-packaging.git
  :hammer-cli-katello:
    :branch: 0.23.1
    :repo: https://github.com/Katello/hammer-cli-katello.git
  :katello-host-tools:
    :branch: 3.5.4
    :repo: https://github.com/Katello/katello-host-tools.git
  :foreman_virt_who_configure:
    :branch: 0.5.3
    :repo: https://github.com/theforeman/foreman_virt_who_configure.git
:ignores:
   - 15932 # Fixed outside of Katello
   - 30253 # Tracker Redmine
   - 30087 # Fixed outside of Katello
:strict_keys: true
:gpg_key: C7C509FA
:tags:
  - name: katello-3.17-thirdparty-candlepin-rhel7
    based_off: katello-thirdparty-candlepin-rhel7
    build_target: katello-3.17-rhel7-build
    arches:
      - x86_64
  - name: katello-3.17-rhel7
    based_off: katello-nightly-rhel7
    helper_tags:
      katello-3.17-thirdparty-rhel7: katello-thirdparty-rhel7
      katello-3.17-rhel7-override: null
    build_target: katello-3.17-rhel7-build
    build_package_group_source_tag: katello-nightly-rhel7-build
    arches:
      - x86_64
    inherits:
      katello-3.17-rhel7-build:
        katello-3.17-rhel7-override: 0
        foreman-plugins-2.1-rhel7-override: 3
        foreman-2.1-rhel7: 10
      katello-3.17-rhel7-override:
        katello-3.17-rhel7: 0
      katello-3.17-rhel7:
        katello-3.17-thirdparty-rhel7: 0
        foreman-2.1-nonscl-rhel7: 1
    external_repos:
      - epel7
      - centos-sclo-rh-rhel-7
      - centos-7-server-updates
      - centos-7-server
  - name: katello-pulpcore-3.17-el7
    based_off: katello-pulpcore-nightly-el7
    helper_tags:
      katello-pulpcore-3.17-el7-override: null
    arches:
      - x86_64
    build_target: katello-pulpcore-3.17-el7-build
    inherits:
      katello-pulpcore-3.17-el7-build:
        katello-pulpcore-3.17-el7-override: 0
      katello-pulpcore-3.17-el7-override:
        katello-pulpcore-3.17-el7: 0
    build_package_group_source_tag: katello-pulpcore-nightly-el7-build
    external_repos:
      - centos7-os
      - centos7-updates
      - centos-sclo-rh-rhel-7
      - epel7
