---
:project: katello
:github_org: katello
:releases:
  :4.1.2:
    :redmine_version_id: 1468
  :4.1.1:
    :redmine_version_id: 1437
  :4.1.0:
    :redmine_version_id: 1351
:prior_releases:
  :4.0.2:
    :redmine_version_id: 1433
  :4.0.1:
    :redmine_version_id: 1369
  :3.18.4:
    :redmine_version_id: 1396
  :3.18.3:
    :redmine_version_id: 1370
:code_name:
:mash_scripts:
  - katello-4.1-rhel7
  - katello-4.1-thirdparty-candlepin-rhel7
  - katello-4.1-el8
  - katello-candlepin-4.1-el8
:repos:
  :katello:
    :main: true
    :branch: KATELLO-4.1
    :repo: https://github.com/Katello/katello.git
    :version_branch: true
  :foreman-packaging:
    :branch: rpm/2.5
    :repo: https://github.com/theforeman/foreman-packaging.git
  :hammer-cli-katello:
    :branch: 1.1.z
    :repo: https://github.com/Katello/hammer-cli-katello.git
  :katello-host-tools:
    :branch: 3.5.5
    :repo: https://github.com/Katello/katello-host-tools.git
  :katello-certs-tools:
    :branch: 2.7.3
    :repo: https://github.com/Katello/katello-certs-tools.git
  :foreman_virt_who_configure:
    :branch: 0.5.6
    :repo: https://github.com/theforeman/foreman_virt_who_configure.git
  :smart_proxy_container_gateway:
    :branch: 1.0.4
    :repo: https://github.com/Katello/smart_proxy_container_gateway.git
  :katello-selinux:
    :branch: 4.0.0
    :repo: https://github.com/Katello/katello-selinux.git
:ignores:
  - 32155 # tracker
  - 30872 # tracker
  - 29552 # tracker
  - 29977 # tracker
  - 32089 # 4.0 only per Toledo
  - 32129 # ignore per Toledo
  - 32210 # ignoring all pulp3 migration and switchover related commits per jsherrill - may also need to do this next release
  - 32109 # switchover
  - 32142 # pulp3 migration
  - 32302 # switchover
  - 32420 # pulp3 migration
  - 32062 # pulp3 migration
  - 32256 # pulp3 migration, switchover
  - 32449 # pulp3 migration
  - 32301 # pulp3 migration
  - 32471 # pulp3 migration
  - 32831 # pulp3 migration
  - 32869 # pulp3 migration
  - 29124 # duplicate
  - 32172 # documentation-related, already in their respective repos
  - 32169 # docs
  - 32171 # docs
  - 31618 # docs
  - 32165 # docs
  - 31880 # squashed, already in release branch
  - 32787 # per jsherrill
  - 32933 # iballou is submitting a PR directly to release branch
  - 32472 # 3.18.4 only





:strict_keys: true
:gpg_key: 7522CC3F
:tags:
  - name: katello-4.1-thirdparty-candlepin-rhel7
    based_off: katello-thirdparty-candlepin-rhel7
    build_target: katello-4.1-rhel7-build
    arches:
      - x86_64
  - name: katello-candlepin-4.1-el8
    based_off: katello-candlepin-nightly-el8
    build_target: katello-4.1-el8-build
    arches:
      - x86_64
  - name: katello-4.1-rhel7
    based_off: katello-nightly-rhel7
    helper_tags:
      katello-4.1-thirdparty-rhel7: katello-thirdparty-rhel7
      katello-4.1-rhel7-override: null
    build_target: katello-4.1-rhel7-build
    build_package_group_source_tag: katello-nightly-rhel7-build
    arches:
      - x86_64
    inherits:
      katello-4.1-rhel7-build:
        katello-4.1-rhel7-override: 0
        foreman-plugins-2.5-rhel7-override: 3
        foreman-2.5-rhel7: 10
      katello-4.1-rhel7-override:
        katello-4.1-rhel7: 0
      katello-4.1-rhel7:
        katello-4.1-thirdparty-rhel7: 0
        foreman-2.5-nonscl-rhel7: 1
    external_repos:
      - epel-7
      - centos-sclo-rh-rhel-7
      - centos-7-server-updates
      - centos-7-server
  - name: katello-4.1-el8
    based_off: katello-nightly-el8
    helper_tags:
      katello-thirdparty-el8: null
      katello-4.1-el8-override: null
    build_target: katello-4.1-el8-build
    build_package_group_source_tag: katello-nightly-el8-build
    arches:
      - x86_64
    inherits:
      katello-4.1-el8-build:
        katello-4.1-el8-override: 0
        foreman-plugins-2.5-el8: 3
        foreman-2.5-el8: 5
      katello-4.1-el8-override:
        katello-4.1-el8: 0
      katello-4.1-el8:
        katello-thirdparty-el8: 0
    external_repos:
      - flat-ruby27-el8
      - test-flat-el8
      - centos8-devel
      - puppetlabs-puppet6-rhel-8
