---
:project: foreman
:github_org: theforeman
:nightly: true
:mash_scripts:
  - foreman-nightly-el8
  - foreman-plugins-nightly-el8
  - foreman-client-nightly-el9
  - foreman-client-nightly-el8
  - foreman-client-nightly-rhel7
  - foreman-client-nightly-fedora29
  - foreman-client-nightly-sles11
  - foreman-client-nightly-sles12
:tags:
  - name: foreman-nightly-el8
    based_off: null
    helper_tags:
      foreman-nightly-el8-override: null
    build_target: foreman-nightly-el8-build
    build_package_group_source_tag: foreman-nightly-el8-build
    arches:
      - x86_64
    inherits:
      foreman-nightly-el8-build:
        foreman-nightly-el8-override: 0
      foreman-nightly-el8-override:
        foreman-nightly-el8: 0
    external_repos:
      - flat-ruby27-el8
      - test-flat-el8
      - centos8-devel
      - puppetlabs-puppet7-rhel-8
    build_groups:
      build:
        - bash
        - bzip2
        - centos-release
        - coreutils
        - cpio
        - diffutils
        - findutils
        - foreman-build
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - platform-python
        - python3-rpm-macros
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - which
        - xz
      srpm-build:
        - bash
        - centos-release
        - foreman-build
        - platform-python
        - python3-rpm-macros
        - redhat-rpm-config
        - rhpkg-simple
        - rpm-build
        - shadow-utils
  - name: foreman-plugins-nightly-el8
    based_off: null
    helper_tags:
      foreman-plugins-nightly-el8-override: null
    build_target: foreman-plugins-nightly-el8-build
    build_package_group_source_tag: foreman-plugins-nightly-el8-build
    arches:
      - x86_64
    inherits:
      foreman-plugins-nightly-el8-build:
        foreman-plugins-nightly-el8-override: 0
        foreman-nightly-el8: 15
      foreman-plugins-nightly-el8-override:
        foreman-plugins-nightly-el8: 0
    external_repos:
      - flat-ruby27-el8
      - test-flat-el8
    build_groups:
      build:
        - bash
        - bzip2
        - centos-release
        - coreutils
        - cpio
        - diffutils
        - findutils
        - foreman-build
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - platform-python
        - python3-rpm-macros
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - which
        - xz
      srpm-build:
        - bash
        - centos-release
        - foreman-build
        - platform-python
        - python3-rpm-macros
        - redhat-rpm-config
        - rhpkg-simple
        - rpm-build
        - shadow-utils
  - name: foreman-client-nightly-el9
    based_off: null
    helper_tags:
      foreman-client-nightly-el9-override: null
      foreman-client-nightly-el9: null
    build_target: foreman-client-nightly-el9-build
    arches:
      - x86_64
    inherits:
      foreman-client-nightly-el9-build:
        foreman-client-nightly-el9-override: 0
      foreman-client-nightly-el9-override:
        foreman-client-nightly-el9: 0
      foreman-client-nightly-el9: {}
    external_repos:
      - name: centos9stream-baseos
        mode: bare
      - name: centos9stream-appstream
        mode: bare
      - name: centos9stream-crb
        mode: bare
    build_groups:
      build:
        - bash
        - bzip2
        - coreutils
        - cpio
        - diffutils
        - findutils
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - python3-rpm-macros
        - redhat-release
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - which
        - xz
      srpm-build:
        - bash
        - python3-rpm-macros
        - redhat-release
        - redhat-rpm-config
        - rhpkg-simple
        - rpm-build
        - shadow-utils
  - name: foreman-client-nightly-el8
    based_off: null
    helper_tags:
      foreman-client-nightly-el8-override: null
      foreman-client-nightly-el8: null
    build_target: foreman-client-nightly-el8-build
    arches:
      - x86_64
    inherits:
      foreman-client-nightly-el8-build:
        foreman-client-nightly-el8-override: 0
      foreman-client-nightly-el8-override:
        foreman-client-nightly-el8: 0
      foreman-client-nightly-el8: {}
    external_repos:
      - centos8-baseos
      - centos8-appstream
    build_groups:
      build:
        - bash
        - bzip2
        - coreutils
        - cpio
        - diffutils
        - findutils
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - platform-python
        - python3-rpm-macros
        - redhat-release
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - which
        - xz
      srpm-build:
        - bash
        - platform-python
        - python3-rpm-macros
        - redhat-release
        - redhat-rpm-config
        - rhpkg-simple
        - rpm-build
        - shadow-utils
  - name: foreman-client-nightly-rhel7
    based_off: null
    helper_tags:
      foreman-client-nightly-rhel7-override: null
      foreman-client-nightly-rhel7: null
    build_target: foreman-client-nightly-rhel7-build
    arches:
      - x86_64
    inherits:
      foreman-client-nightly-rhel7-build:
        foreman-client-nightly-rhel7-override: 0
      foreman-client-nightly-rhel7-override:
        foreman-client-nightly-rhel7: 0
      foreman-client-nightly-rhel7: {}
    external_repos:
      - epel-7
      - centos7-updates
      - centos-7-server
    build_groups:
      build:
        - bash
        - bzip2
        - centos-release
        - coreutils
        - cpio
        - diffutils
        - findutils
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - redhat-release-server
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - which
        - xz
      srpm-build:
        - bash
        - centos-release
        - redhat-release-server
        - redhat-rpm-config
        - rhpkg-simple
        - rpm-build
        - shadow-utils
  - name: foreman-client-nightly-fedora29
    based_off: null
    helper_tags:
      foreman-client-nightly-fedora29-override: null
      foreman-client-nightly-fedora29: null
    build_target: foreman-client-nightly-fedora29-build
    arches:
      - x86_64
    inherits:
      foreman-client-nightly-fedora29-build:
        foreman-client-nightly-fedora29-override: 0
      foreman-client-nightly-fedora29-override:
        foreman-client-nightly-fedora29: 0
      foreman-client-nightly-fedora29: {}
    external_repos:
      - fedora-29-updates
      - fedora-29
    build_groups:
      build:
        - bash
        - bzip2
        - coreutils
        - cpio
        - diffutils
        - fedora-release
        - findutils
        - gawk
        - gcc
        - gcc-c++
        - grep
        - gzip
        - info
        - make
        - patch
        - redhat-rpm-config
        - rpm-build
        - sed
        - shadow-utils
        - tar
        - unzip
        - util-linux
        - which
        - xz
      srpm-build:
        - bash
        - fedora-release
        - redhat-rpm-config
        - rhpkg-simple
        - rpm-build
        - shadow-utils
  - name: foreman-client-nightly-sles12
    based_off: null
    arches:
      - x86_64
    helper_tags:
      foreman-client-nightly-sles12: null
    inherits:
      foreman-client-nightly-sles12: {}
  - name: foreman-client-nightly-sles11
    based_off: null
    arches:
      - x86_64
    helper_tags:
      foreman-client-nightly-sles11: null
    inherits:
      foreman-client-nightly-sles11: {}
